.contact{
    padding: 64px 0;
    background: #333438;

    .container{
        display: flex;

        .contact__container{
            width: 50%;

            p{
                margin-top: 12px;
                font-size: 18px;
                color: $branco;
            }
        }
    }
 }
 
 @media (max-width: 768px){
    .contact{
        .container{
            flex-direction: column;
    
            .contact__container{
                width: 100%;
    
                p{
                    margin-bottom: 32px;
                }
            }
        }
     }
 }